Package: com.tokcs.autowifiauth
Name: AutoWifiAuth
Depends: mobilesubstrate, preferenceloader (>= 2.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Atsushi OHNO
Author: Atsushi OHNO
Section: Tweaks
